.button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button{
    background-color: green;
    padding: .5rem 2rem;
    border-radius: 20px;
    color: white;
    font-size: larger;
    cursor: pointer;
    top: 30px;
}

.product_cards_container {
    top: 10px;
    display: flex; 
    flex-wrap: wrap;
    gap: 20px; 
}

.product_card {
    width: 300px; 
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.product_card > img{
    width: 100%;
    height: 350px;
}
